/* CART CSS */

.cart-items-con {
  padding: 0% 5%;
  height: 40%;
  background-color: #fff;
}
.cart-upper-con{
  display: flex;
  justify-content: space-between;
}

.no-item{
  color: #485d6e;
  padding-right: 20px;
}
.cart-card-quantity{
  margin-left: auto;
}

.cart-header {
  color: #485d6e;
}

.trash {
  text-decoration: none;
  border: none;
  font-size: 25px;
  color: #07021c;
  background-color: transparent;
  cursor: pointer;
  padding: 0 0 0 20px;
}
.cart-function{
  display: flex;
}
.cart-item {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2%;
  padding: 1%;
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  background-color: rgba(205, 216, 224, 0.18);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.cart-Quantity{
  color: #485d6e;
  font-weight: 500;
}

.cart-item-image {
  height: 100%;
  padding: 2%;
}
.add {
  text-decoration: none;
  border: none;
  height: 20px;
  color: #07021c;
  background-color: transparent;
  cursor: pointer;
}
.sub {
  text-decoration: none;
  border: none;
  height: 20px;
  color: #07021c;
  background-color: transparent;
  cursor: pointer;
}
.card-item-price {
  padding-right: 5%;
}
.total-price {
  color: #485d6e;
  padding-right: 20px;
  padding: 5% 2% 5%;
}

    /* PRODUCt CSS */

#Main-page {
  padding-top: 8%;
  height: 40%;
  background-color: #fff;
}
.main-con {
  padding: 3%;
  justify-content: space-evenly;
}
#project-con {
  padding: 5% 0;
}

.pro-head {
  padding: 5% 10% 0 10.1%;
  font-weight: 400;
  color: #485d6e;
}
.pro-card-con {
  padding: 0 10%;
  display: flex;
  justify-content: space-evenly;
  /* text-align: center; */
}
.row {
  margin-left: 0 !important;
}
.shoeimage {
  width: 100%;
  border-radius: 15.6559px;
}
.pro-card {
  margin: 5% 2%;
  width: 300px;
  height: 400px;
  background: rgba(201, 214, 223, 0.5);
  border-radius: 18.6559px;
  justify-content: space-evenly;
}

.pro-card:nth-child(even) {
  margin: 5% 2%;
  width: 300px;
  height: 400px;
  background: rgba(196, 196, 196, 0.4);
  border-radius: 18.6559px;
  justify-content: space-evenly;
}

.pro-card-top {
  height: 50%;
  padding: 5%;
  color: #485d6e;
}
.pro-card-bottom {
  height: 70%;
}
.pro-card-head-con {
  height: 50%;
  padding: 5%;
  color: #485d6e;
}
.pro-card-head {
  color: #485d6e;
}
.pro-card-link-con {
  height: 30%;
}
.pro-card-link-txt {
  color: #485d6e;
}
.delete-pro {
  text-decoration: none;
  border: none;
  height: 20px;
  margin-left: 60%;
  color: #07021c;
  background-color: transparent;
}

      /* FOOTER */

footer {
  background-color: #333;
  color: #fff;
  padding: 2rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 5em;
}

.footer-section {
  width: 30%;
}

.footer-section h3 {
  margin-bottom: 1rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

      /* NAVBAR */

.navbar {
  padding: 0.8% 5%;
  background-color: #f9f7f7;
}
.topnav-right {
  float: right;
}
.navbar-brand {
  color: #485d6e;
  font-size: 1.4rem;
}


.nav-sublink {
  color: #485d6e;
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-link-cart {
  color: #485d6e;
  font-size: 1.4rem;
  margin-left: 10px;
}

Data.link {
  color: #485d6e;
}
.nav-link-cart:hover {
  color: #07021c;
}
.navbar-brand:hover {
  color: #07021c;
}


.routes-con {
  padding-top: 8%;
  height: 40%;
  background-color: #fff;
}

/* Home Page */

.intro-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 150px 5% 100px;
}

.intro-text {
  width: 40%;
  text-align: left;
}

.intro-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.intro-text p {
  font-size: 18px;
  margin-bottom: 40px;
}

.cta-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
}

.cta-button:hover {
  background-color: #555;
}

.intro-image {
  width: 50%;
  position: relative;
}

.intro-image img {
  width: 100%;
  height: auto;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Standard syntax */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Second section */

.second-section {
  align-items: center;
  padding: 150px 5% 100px;
}
.loc-con{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 5em 0 0;
}
.loc-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 550px;
}

.loc-container-img{
  width: 100%;
  height: 100%;
}



/* MEDIA QUERY FOR MOBILE */


@media screen and (max-width: 480px) {
  .loc-con{
    margin: 3em 0 0;
  }
  .loc-container{
    margin: 1em auto;
    width: 350px;
    height: 500px;
  }
}